<footer class="bg-[#FFFFFF] bottom-0">
    <div class="min-[320px]:pb-3 min-[320px]:text-center min-[320px]:mt-2 sm:p-4 sm:flex sm:flex-row sm:justify-between sm:text-left sm:mt-3 md:p-5 md:mt-4 lg:p-6 lg:mt-5 xl:p-7 xl:mt-6 2xl:p-8 2xl:mt-7">
        <div class="min-[320px]:py-2 sm:p-0 md:p-0 lg:p-0 xl:p-0 2xl:p-0">
            <div>
                <p class="font-ubuntu font-medium min-[320px]:text-[12px] min-[320px]:pb-1 sm:text-[14px] sm:pb-2 md:text-[14px] md:pb-3 lg:pb-3 lg:text-[16px] xl:pb-3 xl:text-[16px] 2xl:pb-[14px] 2xl:text-[18px]">Sobre Cascady</p>
            </div>
            <div class="font-ubuntu font-light min-[320px]:text-[10px] sm:text-[12px] md:text-[12px] lg:text-[14px] xl:text-[14px] 2xl:text-[16px]">
                <p class="min-[320px]:pb-1 sm:pb-[6px] md:pb-2 lg:pb-2 xl:pb-[10px] 2xl:pb-3">Términos y condiciones</p>
                <p class="min-[320px]:pb-1 sm:pb-[6px] md:pb-2 lg:pb-2 xl:pb-[10px] 2xl:pb-3">Políticas de privacidad</p>
                <p class="min-[320px]:pb-1 sm:pb-[6px] md:pb-2 lg:pb-2 xl:pb-[10px] 2xl:pb-3">Contactos</p>
                <p>Redes</p>
            </div>
        </div>
        <div class="min-[320px]:pb-2 sm:p-0 md:p-0 lg:p-0 xl:p-0 2xl:p-0">
            <div>
                <p class="font-ubuntu font-medium min-[320px]:text-[12px] min-[320px]:pb-1 sm:text-[14px] sm:pb-2 md:text-[14px] md:pb-3 lg:pb-3 lg:text-[16px] xl:pb-3 xl:text-[16px] 2xl:pb-[14px] 2xl:text-[18px]">Categorías</p>
            </div>
            <div class="font-ubuntu font-light min-[320px]:text-[10px] sm:text-[12px] md:text-[12px] lg:text-[14px] xl:text-[14px] 2xl:text-[16px]">
                <p class="min-[320px]:pb-1 sm:pb-[6px] md:pb-2 lg:pb-2 xl:pb-[10px] 2xl:pb-3"><a href="<%=admins_path%>" >Empleados</a></p>
                <p class="min-[320px]:pb-1 sm:pb-[6px] md:pb-2 lg:pb-2 xl:pb-[10px] 2xl:pb-3">Catalógo de productos</p>
                <p class="min-[320px]:pb-1 sm:pb-[6px] md:pb-2 lg:pb-2 xl:pb-[10px] 2xl:pb-3">Locales cerca de mí</p>
                <p class="min-[320px]:pb-1 sm:pb-[6px] md:pb-2 lg:pb-2 xl:pb-[10px] 2xl:pb-3">Promociones y ofertas</p>
            </div>
        </div>
        <div>
            <div>
                <p class="font-ubuntu font-medium min-[320px]:text-[12px] min-[320px]:pb-1 sm:text-[14px] sm:pb-2 md:text-[14px] md:pb-3 lg:pb-3 lg:text-[16px] xl:pb-3 xl:text-[16px] 2xl:pb-[14px] 2xl:text-[18px]">Únete con nosotros</p>
            </div>
            <div class="font-ubuntu font-light min-[320px]:text-[10px] sm:text-[12px] md:text-[12px] lg:text-[14px] xl:text-[14px] 2xl:text-[16px]">
                <p class="min-[320px]:pb-1 sm:pb-[6px] md:pb-2 lg:pb-2 xl:pb-[10px] 2xl:pb-3">Trabaja con nosotros</p>
                <p class="min-[320px]:pb-1 sm:pb-[6px] md:pb-2 lg:pb-2 xl:pb-[10px] 2xl:pb-3">Puestos disponibles</p>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-between items-center min-[320px]:px-2 min-[320px]:pb-2 sm:px-4 sm:pb-4 md:px-5 md:pb-5 lg:px-6 lg:pb-6 xl:px-7 xl:pb-7 2xl:px-8 2xl:pb-8">
            <div class="flex flex-row">
                <svg class="min-[320px]:w[14px] min-[320px]:h-[14px] min-[320px]:mr-1 sm:w-[18px] sm:h-[18px] sm:mr-2 md:w-[20px] md:h-[20px] md:mr-3 lg:w-[20px] lg:h-[20px] lg:mr-3 xl:w-[22px] xl:h-[22px] xl:mr-3 2xl:w-[24px] 2xl:h-[24px] 2xl:mr-[14px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#000000" d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64h98.2V334.2H109.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H255V480H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z"/></svg>
                <svg class="min-[320px]:w[14px] min-[320px]:h-[14px] min-[320px]:mr-1 sm:w-[18px] sm:h-[18px] sm:mr-2 md:w-[20px] md:h-[20px] md:mr-3 lg:w-[20px] lg:h-[20px] lg:mr-3 xl:w-[22px] xl:h-[22px] xl:mr-3 2xl:w-[24px] 2xl:h-[24px] 2xl:mr-[14px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#000000" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>
                <svg class="min-[320px]:w[14px] min-[320px]:h-[14px] min-[320px]:mr-1 sm:w-[18px] sm:h-[18px] sm:mr-2 md:w-[20px] md:h-[20px] md:mr-3 lg:w-[20px] lg:h-[20px] lg:mr-3 xl:w-[22px] xl:h-[22px] xl:mr-3 2xl:w-[24px] 2xl:h-[24px] 2xl:mr-[14px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#000000" d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>

            </div>
            <div>
                <p class="min-[320px]:text-[8px] sm:text-[10px] md:text-[10px] lg:text-[12px] xl:text-[12px] 2xl:text-[14px]">© 2024 Cascady. All rights reserved.</p>
            </div>
        </div>
</footer>