<body>
    <div class="bg-[rgba(144,148,150,0.8)] w-full h-screen fixed top-0 left-0 flex justify-center items-center z-50">
        <div class="bg-white w-full min-[320px]:mx-2 sm:mx-[40px] md:mx-[80px] lg:mx-[160px]">
            <div class="flex flex-col min-[320px]:mb-2 sm:mb-3 md:mb-4 lg:mb-5">
                <p class="flex font-ubuntu font-bold text-[#4B0404] min-[320px]:px-2 min-[320px]:py-1 min-[320px]:text-[20px] sm:px-3 sm:py-2 sm:text-[24px] md:px-4 md:py-3 lg:px-5 lg:py-4 lg:text-[28px]">Ingredientes</p>
                <hr class="border-dashed border-[#6B6A6F] border">
                <div class="py-1 min-[320px]:space-y-2 min-[320px]:mt-2 sm:space-y-3 sm:mt-3 md:mt-4 md:space-y-4 lg:space-y-5 lg:mt-5">
                    <div class="flex flex-row justify-between w-full items-center space-x-1 min-[320px]:px-2 sm:px-3 md:px-4 lg:px-5">
                        <p class="font-ubuntu font-light text-[#6B6A6F] min-[320px]:text-[16px] min-[320px]:w-[120px] sm:text-[20px] sm:w-[130px] lg:text-[22px] lg:w-[150px]">Sin tomate</p>
                        <hr class="border-dashed border-[#6B6A6F] border w-full">
                        <input class="min-[320px]:w-[12px] min-[320px]:h-[12px] sm:w-[24px] sm:h-[24px] lg:w-[28px] lg:h-[28px]" type="checkbox" name="" id="">
                    </div>
                    <div class="flex flex-row justify-between w-full items-center space-x-1 min-[320px]:px-2 sm:px-3 md:px-4 lg:px-5">
                        <p class="font-ubuntu font-light text-[#6B6A6F] min-[320px]:text-[16px] min-[320px]:w-[120px] sm:text-[20px] sm:w-[130px] lg:text-[22px] lg:w-[150px]">Sin tomate</p>
                        <hr class="border-dashed border-[#6B6A6F] border w-full">
                        <input class="min-[320px]:w-[12px] min-[320px]:h-[12px] sm:w-[24px] sm:h-[24px] lg:w-[28px] lg:h-[28px]" type="checkbox" name="" id="">
                    </div>
                    <div class="flex flex-row justify-between w-full items-center space-x-1 min-[320px]:px-2 sm:px-3 md:px-4 lg:px-5">
                        <p class="font-ubuntu font-light text-[#6B6A6F] min-[320px]:text-[16px] min-[320px]:w-[120px] sm:text-[20px] sm:w-[130px] lg:text-[22px] lg:w-[150px]">Sin tomate</p>
                        <hr class="border-dashed border-[#6B6A6F] border w-full">
                        <input class="min-[320px]:w-[12px] min-[320px]:h-[12px] sm:w-[24px] sm:h-[24px] lg:w-[28px] lg:h-[28px]" type="checkbox" name="" id="">
                    </div>
                    <div class="flex flex-row justify-between w-full items-center space-x-1 min-[320px]:px-2 sm:px-3 md:px-4 lg:px-5">
                        <p class="font-ubuntu font-light text-[#6B6A6F] min-[320px]:text-[16px] min-[320px]:w-[120px] sm:text-[20px] sm:w-[130px] lg:text-[22px] lg:w-[150px]">Sin tomate</p>
                        <hr class="border-dashed border-[#6B6A6F] border w-full">
                        <input class="min-[320px]:w-[12px] min-[320px]:h-[12px] sm:w-[24px] sm:h-[24px] lg:w-[28px] lg:h-[28px]" type="checkbox" name="" id="">
                    </div>
                </div>
            </div>
            <div class="flex flex-col min-[320px]:mb-2 sm:mb-3 md:mb-4 lg:mb-5">
                <p class="flex font-ubuntu font-bold text-[#4B0404] min-[320px]:px-2 min-[320px]:py-1 min-[320px]:text-[20px] sm:px-3 sm:py-2 sm:text-[24px] md:px-4 md:py-3 lg:px-5 lg:py-4 lg:text-[28px]">Refrescos</p>
                <hr class="border-dashed border-[#6B6A6F] border">
                <div class="py-1 min-[320px]:space-y-2 min-[320px]:mt-2 sm:space-y-3 sm:mt-3 md:mt-4 md:space-y-4 lg:space-y-5 lg:mt-5">
                    <div class="flex flex-row justify-between w-full items-center space-x-1 min-[320px]:px-2 sm:px-3 md:px-4 lg:px-5">
                        <p class="font-ubuntu font-light text-[#6B6A6F] min-[320px]:text-[16px] sm:text-[20px] lg:text-[22px]">Fanta</p>
                        <hr class="border-dashed border-[#6B6A6F] border w-full">
                        <input class="border-solid border rounded border-[#6B6A6F] bg-[#F5F5F5] min-[320px]:w-[28px] min-[320px]:h-[20px] sm:w-[40px] sm:h-[24px] lg:w-[52px] lg:h-[28px]" type="text" name="" id="">
                    </div>
                    <div class="flex flex-row justify-between w-full items-center space-x-1 min-[320px]:px-2 sm:px-3 md:px-4 lg:px-5">
                        <p class="font-ubuntu font-light text-[#6B6A6F] min-[320px]:text-[16px] sm:text-[20px] lg:text-[22px]">Fanta</p>
                        <hr class="border-dashed border-[#6B6A6F] border w-full">
                        <input class="border-solid border rounded border-[#6B6A6F] bg-[#F5F5F5] min-[320px]:w-[28px] min-[320px]:h-[20px] sm:w-[40px] sm:h-[24px] lg:w-[52px] lg:h-[28px]" type="text" name="" id="">
                    </div>
                    <div class="flex flex-row justify-between w-full items-center space-x-1 min-[320px]:px-2 sm:px-3 md:px-4 lg:px-5">
                        <p class="font-ubuntu font-light text-[#6B6A6F] min-[320px]:text-[16px] sm:text-[20px] lg:text-[22px]">Fanta</p>
                        <hr class="border-dashed border-[#6B6A6F] border w-full">
                        <input class="text-center border-solid border rounded border-[#6B6A6F] bg-[#F5F5F5] min-[320px]:w-[28px] min-[320px]:h-[20px] sm:w-[40px] sm:h-[24px] lg:w-[52px] lg:h-[28px]" type="text" name="" id="">
                    </div>
                </div>
            </div>
            <div class="text-center min-[320px]:px-2 min-[320px]:mb-2 sm:px-3 sm:mb-3 md:mb-4 lg:mb-5">
                <button class="bg-[#29D884] hover:bg-[#17A25F] hover:duration-500 w-full rounded-lg font-ubuntu font-bold text-white min-[320px]:h-8 min-[320px]:text-[14px] sm:h-10 sm:text-[18px] lg:h-12 lg:text-[24px]">Agregar al carrito</button>
            </div>
        </div>
    </div>
</body>